{% extends "StriideInventoryBundle::layout.html.twig" %}

{% block striide_inventory_content %}

{{ render(controller('StriideTwitterbootstrapBundle:Navigation:breadcrumb',{'crumbs': crumbs} )) }}

<div class="row">
       
  {% if is_granted('ROLE_ADMIN') %}
  <div class="span2">
    
    <ul class="nav nav-tabs nav-stacked">
        <li>
            <a href="{{ path('StriideInventoryBundle_admin_item_new') }}"><i class="icon-plus-sign"></i> Create a new Item</a>
        </li>
    </ul>

    {{ render(controller('StriideInventoryBundle:Item:types' )) }}

    
  </div>
  {% endif %}

  <div class="{% if is_granted('ROLE_ADMIN') %}span8{% else %}span10{% endif %}">
    <h3>Existing Inventory</h3>
    {{ include('StriideInventoryBundle:Item:_list.html.twig', { 'entities': items }) }}
  </div>
</div>

{% endblock striide_inventory_content %}
